.dashboard-card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  flex: 0 1 220px; /* Flexible but max ~220px */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.3s ease;
}


.dashboard-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-dark);
}

.dashboard-card-icon {
  font-size: 1.2rem;
  background: var(--form-bg);
  border-radius: 6px;
  padding: 6px;
}

.dashboard-card-value {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
