* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
*::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

:root {
  --primary-purple: #5e35b1; /* main */
  --primary-purple-dark: #4527a0;
  --primary-purple-light: #d1c4e9;

  --form-bg: rgba(128, 128, 128, 0.231);
  --form-label: #1a1a1a;

  --text-dark: #1a1a1a;
  --text-light: #ffffff;
  --background-light: #fdfaff;

  --dashboard-bg-color:rgba(181, 181, 181, 0.151);

  --button-color: #111111;
  --button-hover: #000000;

  --loader-color:var(--primary-purple);

  --sidebar-bg:black;
  --sidebar-text: var(--text-light);
  --sidebar-hover: var(--primary-purple);
  --sidebar-active: var(--primary-purple-light);

  /* z-index */
  --message-z-index:9999;
  --loader-z-index:9998;
  --sidebar-z-index:100;
  --sibebar-menu-z-index:90;
  --floating-action-button-z-index:100;
  --slide-panel-overlay-z-index:200;
  --slide-panel-z-index:201;

}
body {
  margin: 0;
  padding: 0px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-light);
  color: var(--text-dark);
  position: relative;
}

.loader{  
  background-color: rgba(128, 128, 128, 0.505);
  overflow: hidden;
  position: absolute;
  z-index: var(--loader-z-index);
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container{
    z-index:var(--message-z-index);
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column; /* New messages on bottom */
    gap: 10px;
    pointer-events: none; 
}

.message-popup {
  background-color: #222;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  min-width: 200px;
  text-align: center;
  animation: slideUpFade 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
